<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Del</servlet-name>
        <servlet-class>Del.Del</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove</servlet-name>
        <servlet-class>Remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apan</servlet-name>
        <servlet-class>apan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del</servlet-name>
        <servlet-class>del</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Del</servlet-name>
        <url-pattern>/Del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove</servlet-name>
        <url-pattern>/Remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apan</servlet-name>
        <url-pattern>/apan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
